<section id="page-KO" class="page">
    <div class="page-header">
        <h1>KO Test</h1>
    </div>
    <form class="form-inline">
        <div class="col-md-8">
            <div class="form-group col-md-12">
                <div class="col-md-2">
                    <label>Enter Value:</label>
                </div>
                <div class="col-md-4">
                    <input type="text" class="form-control">
                </div>
                <input type="submit" class="btn btn-info">
            </div>
        </div>
    </form>
</section>


